page-user-dashboard {

}

p{
  color:#AEA8A8 !important;
   font-style: oblique;
   font-size:100% !important;
   font-weight: 600 !important;
}

img{
  width: 70% !important;
}

.toolbar-background {
background-color:#DC4C5A !important;

}



.toolbar-title{
  color: #fff !important;
}

.vacant{
  border-top: 4px solid #DC4C5A;
  padding: 4px;
  padding-bottom: 0px;
  margin: 0px;
  margin-bottom:5px;
  width: 100% !important;

}

.scroll-content{
  padding: 0px !important;
}


h1{
  color: #DC4C5A !important;
}

img{

  float: right;
}

@media screen and (min-width: 700px){
	p{
		font-size: 3rem !important;
	}
  h1{
    font-size: 4rem !important;
    margin-top: 1.7rem !important;
  }
}


@media screen and (min-width: 1000px){
	p{
		font-size:4rem !important;

	}
  h1{
    font-size: 5rem !important;
    margin-top: 1.7rem !important;
  }
}
