
<ion-header>

  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card class="vacant" *ngFor="let vacant of data">
<ion-grid>
  <ion-row>
    <ion-col col-8>
      <h1>{{vacant.jobPositionName}}</h1>
      <p>{{vacant.locationName}}</p>
      <p>{{vacant.createdAt.date}}</p>
    </ion-col>
    <ion-col col-4>
      <img src="{{vacant.iconUrl}}" class="img-fluid pull-xs-left" >
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card>



</ion-content>
