page-user-log-in {

}

form{
  margin-top: 30%;
}

button {
  color: #fff !important;
  background-color: #DC4C5A !important;
  margin-top: 4% !important;
  padding-left: 50% !important;
  padding-right: 50% !important;
  width: 100%;
  height: 40px !important;
}

ion-input {
  color: #DC4C5A !important;

}

ion-label{
  color: #DC4C5A!important;
}



.card-login{
  margin-top: 50px;

}
