<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<form (ngSubmit)="login()">
<ion-list>

  <ion-item class="input-form">
    <ion-label stacked>Username</ion-label>
    <ion-input type="text" [(ngModel)]="user.email" name="email" ></ion-input>
  </ion-item>

  <ion-item class="input-form">
    <ion-label stacked>Password</ion-label>
    <ion-input type="password"  [(ngModel)]="user.password" name="password"></ion-input>
  </ion-item>

<ion-item>
  <button type="submit"
  ion-button  >Login</button>
</ion-item>
</ion-list>

</form>
